@charset "UTF-8";

body {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #666;
}

a {
  text-decoration: none;
  color: #666;
}

li {
  list-style: none;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

.header_logo {
  width: 20%;
}

.header_logo img {
  width: 100%;
  height: 100%;
}

.header_nav {
  width: 70%;
}

.header_nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_nav ul li {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 2%;
}

.header_nav ul li:hover {
  opacity: 0.5;
}

.contact {
  width: 18%;
  background-color: #637da7;
  border-radius: 30px;
  line-height: 3;
}

.contact a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

header .drawer {
  visibility: hidden;
}

/* main */
.section {
  padding: 7% 0;
  position: relative;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

.top_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top_right {
  width: 60%;
}

.font1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10%;
}

.font1 p {
  font-size: 2em;
  text-align: center;
  color: #637da7;
  line-height: 2;
}

.font1 small {
  font-size: 1em;
  font-weight: bold;
}

.download_wrapper {
  padding-left: 22%;
}

.download_apple {
  width: 70%;
  margin-bottom: 5%;
}

.download_apple a {
  display: flex;
  justify-content: center;
}

.download_apple a img {
  width: 60%;
}

.download_google {
  width: 70%;
}

.download_google a {
  display: flex;
  justify-content: center;
}

.download_google a img {
  width: 60%;
}

.top_left {
  width: 40%;
}

.top_left img {
  width: 100%;
  height: 100%;
}

/* feature */
.feature_inner {
  width: 75%;
  margin: 0 auto;
}

.font2 {
  font-size: 1.5em;
  color: #637da7;
  line-height: 1.5;
  margin-bottom: 2.5%;
}

.font2::after {
  content: "";
  background: #637da7;
  height: 2px;
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}

.feature_txt {
  line-height: 1.8;
}

/* intro */

.intro {
  background: linear-gradient(to bottom, #637da7, #f5f6f7);
  margin-top: 5%;
}

.font3 {
  font-size: 3em;
  color: #fff;
  text-align: center;
  padding-bottom: 1.5%;
  line-height: 1.5;
}

.font3 small {
  display: block;
  font-size: 0.4em;
}

.app_all {
  width: 90%;
  margin: 0 auto;
}

.app_inner {
  background: linear-gradient(to bottom, #fff, #f5f6f7);
  border-radius: 30px;
  padding: 7.5% 5%;
  margin-top: 5%;
}

.app_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app_left {
  width: 40%;
}

.font4 {
  font-size: 2em;
  line-height: 1.25;
  padding: 5% 0;
}

.font5 {
  font-size: 1.1em;
  margin-bottom: 3%;
  line-height: 1.5;
}

.font5 strong {
  color: #637da7;
}

.descript {
  font-size: 0.9em;
  line-height: 1.75;
}

.app_right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.app_right img {
  width: 70%;
}

.reverse_wrapper {
  flex-flow: row-reverse;
}

.reverse_right {
  justify-content: flex-start;
}
/* how */

.how {
  background: #f5f6f7;
}

.font3_sub {
  color: #666;
}

.how_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}

.how_block {
  width: 35%;
  border: 3px solid #637da7;
  border-radius: 30px;
  text-align: center;
  padding: 5% 2.5%;
}

.font4_sub {
  color: #637da7;
  padding: unset;
  font-size: 2.2em;
}

.how_list {
  display: inline-block;
  width: 50%;
  margin: 3% 0;
}

.how_list li {
  border-bottom: 2.5px solid #777;
  padding: 3%;
  font-size: 1.25em;
  font-weight: bold;
  color: #777;
}

.how_list p {
  font-size: 2em;
  padding-top: 5%;
  font-weight: bold;
  color: #e4af3c;
}

/* faq */

.faq {
  background: linear-gradient(to bottom, #637da7, #f5f6f7);
}

.faq_txt {
  background: #f5f6f7;
  padding: 7.5%;
  border-radius: 30px;
}

.faq_txt ul {
  margin-bottom: 5%;
}

.faq_txt ul li {
  line-height: 1.5;
}

.faq_txt ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #555;
  border-radius: 50%;
  margin-right: 1%;
}

.faq_txt ul p {
  line-height: 2.5;
}

.faq_txt ul p strong {
  color: #637da7;
}

.btn {
  width: 25%;
  margin: 0 auto;
  line-height: 3;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  background: #637da7;
  text-align: center;
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 10px;
}

/* news */

.news {
  background: #f5f6f7;
}

.news_txt {
  background: #fff;
  padding: 7.5%;
  border-radius: 30px;
}

.news_txt ul {
  margin-bottom: 5%;
}

.news_txt ul li {
  line-height: 2.5;
}

.news_txt ul li strong {
  color: #637da7;
}

.news_txt ul p {
  line-height: 1.5;
}

/* contact */

.contact_btn {
  background: #f5f6f7;
}

/* footer */

.footer {
  background: #555;
  padding: 2.5%;
}

.footer_logo_wrapper {
  display: flex;
  align-items: center;
}

.footer_logo_1 {
  width: 25%;
  margin-right: 2.5%;
}

.footer_logo_1 img {
  width: 100%;
  height: 100%;
}

.footer_logo_2 {
  width: 5%;
}

.footer_logo_2 img {
  width: 100%;
  height: 100%;
}

.footer_list_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}

.footer_list_wrapper ul li {
  margin-bottom: 10%;
}

.footer_list_wrapper ul li a {
  font-size: 0.9em;
  color: #fff;
}

.border {
  border-left: 2px solid #fff;
  padding-left: 10px;
}

.border li:nth-of-type(3) {
  margin-bottom: 1%;
}

.mail {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  margin-bottom: 1.5%;
}

.copyright {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
}

/* ipad pro / 1024px */
@media screen and (min-width: 1024px) {
  .contact a {
    font-size: 0.9em;
  }

  .font1 p {
    font-size: 1.5em;
  }

  .font1 small {
    font-size: 0.9em;
  }

  .font4 {
    font-size: 1.75em;
  }

  .how_list {
    width: 60%;
  }

  .how_list li {
    font-size: 1em;
  }

  .btn a {
    font-size: 1.1em;
  }
}

/* ipad / 768px */
@media screen and (max-width: 768px) {
  .top_right {
    width: 50%;
  }

  .font1 p {
    font-size: 1em;
  }

  .font1 small {
    font-size: 0.6em;
  }

  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-top: solid 4px #aaa;
    cursor: pointer;
    z-index: 100;
  }

  header .drawer::before,
  header .drawer::after {
    content: "";
    display: block;
    width: 24px;
    background: #aaa;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
  }

  header .drawer::before {
    top: 6px;
  }

  header .drawer::after {
    top: 15px;
  }

  header .header_nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fff;
  }

  header .header_nav ul {
    display: block;
  }

  .header .header_nav ul li {
    margin: 5% auto;
  }

  header .header_nav ul li a {
    line-height: 3;
    font-size: 1.5em;
  }

  header .header_nav ul li.contact {
    width: 30%;
    margin: 5% auto;
  }

  .body.nav-open header .drawer {
    border-top: 0;
  }

  body.nav-open header .drawer::before {
    top: 9px;
    transform: rotate(-45deg);
  }

  body.nav-open header .drawer::after {
    top: 9px;
    transform: rotate(45deg);
  }

  .how_block {
    width: 42%;
  }

  .how_list {
    width: 65%;
  }

  .how_list li {
    font-size: 1em;
  }

  .btn {
    width: 60%;
  }
}

/* スマホ 480px */
@media screen and (max-width: 480px) {
  .header_logo {
    width: 50%;
  }

  header .header_nav ul li a {
    font-size: 1em;
  }

  header .header_nav ul li.contact {
    width: 50%;
  }

  .top_wrapper {
    display: block;
  }

  .top_right {
    width: 80%;
    margin: 10% auto;
  }

  .top_left {
    width: 80%;
    margin: 10% auto;
  }

  .top_left img {
    margin-left: 20%;
    width: 70%;
    height: 70%;
  }

  .feature_inner {
    width: 80%;
  }

  .font1 {
    font-size: 1.5em;
  }

  .font1 p {
    width: 100%;
  }

  .font1 small {
    font-size: 0.6em;
  }

  .font2 {
    font-size: 1em;
  }

  .font4 {
    font-size: 1.5em;
  }

  .font5 {
    font-size: 0.9em;
  }

  .feature_txt {
    font-size: 0.8em;
  }

  .font3 {
    font-size: 2.5em;
  }

  .app_wrapper {
    display: block;
  }

  .app_all {
    width: 100%;
  }

  .app_left {
    width: 100%;
  }

  .app_right {
    width: 100%;
  }

  .app_right img {
    width: 40%;
    height: 40%;
    margin: 2% auto;
  }

  .descript {
    font-size: 0.8em;
  }

  .how_wrapper {
    display: block;
  }

  .how_block {
    width: 70%;
    margin: 3% auto;
  }

  .how_list {
    width: 85%;
  }

  .how_list li {
    font-size: 0.8em;
  }

  .faq_txt {
    font-size: 0.8em;
  }

  .news_txt {
    font-size: 0.8em;
  }

  .btn {
    width: 60%;
  }

  .btn a {
    font-size: 1em;
  }

  .footer_wrapper {
    width: 100%;
  }

  .footer_logo_1 {
    width: 40%;
  }

  .footer_logo_2 {
    width: 7.5%;
  }

  .footer_list_wrapper ul li {
    margin-bottom: 1%;
  }

  .footer_list_wrapper {
    display: block;
  }

  .footer_list_wrapper ul li a {
    font-size: 0.5em;
  }

  .mail {
    font-size: 0.3em;
  }

  .copyright {
    font-size: 0.3em;
  }
}
/*  300px */
@media screen and (max-width: 300px) {
  .top_right {
    width: 100%;
    margin: 0 auto;
  }

  .top_left img {
    margin-left: 15%;
  }

  .font1 {
    width: 100%;
  }

  .font1 p {
    font-size: 0.9em;
  }

  .font1 small {
    font-size: 0.5em;
  }

  .font3 {
    font-size: 1.5em;
  }

  .font4 {
    font-size: 1.2em;
  }
  .font5 {
    font-size: 0.8em;
  }

  .feature_txt {
    font-size: 0.7em;
  }

  .descript {
    font-size: 0.8em;
  }

  .how_block {
    width: 80%;
  }

  .how_list {
    width: 70%;
  }

  .how_list li {
    width: 100%;
    font-size: 0.75em;
  }

  .how_list p {
    font-size: 1em;
  }

  .faq_txt {
    font-size: 0.7em;
  }

  .news_txt {
    font-size: 0.7em;
  }
}
